<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      href="/static/IMAGES/login.png"
      type="image/x-icon"
    />
    <title>Đăng Nhập Quản Trị Viên</title>
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <!-- Mẫu Đăng Nhập -->
        <form action="" method="POST">
         {% csrf_token %}
         <h2>Đăng Nhập Quản Trị Viên</h2>
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Mật khẩu" />
          <button>Đăng Nhập</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h2>Quản Trị Viên</h2>
            <p>Chỉ quản trị viên mới có thể đăng nhập, vui lòng đảm bảo không đăng nhập bằng tài khoản nhân viên!</p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>
        &copy; Tạo bởi Võ Tấn Bin
      </p>
    </footer>
  </body>
</html>
